
<div class="vh-100 d-flex justify-content-center align-items-center" >
    <div>
        <% if Current.user %>
            Logged in as : <%= Current.user.email %>
            <%= link_to 'Edit password', edit_password_path %>
            <%= button_to 'Logout', logout_path, method: :delete %>
        <% else %>
            <%= link_to 'Sign Up', sign_up_path, class: 'btn btn-primary' %>
            OR 
            <%= link_to 'Login', sign_in_path, class: 'btn btn-secondary' %>
        <% end %>
    </div>
</div>
