<!DOCTYPE html>
<html>
  <head>
    <title>Appointment scheduler APP</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body style="background-color: #E0E2E2" >

    <% if Current.user %>
      <%= render 'shared/navbar' %>
      <%= render 'shared/flashes' %>
      <div class="container mt-3" >
        <%= yield %>
      </div>
    <% else %>
      <%= render 'shared/flashes' %>
      <%= yield %>
    <% end %>
  </body>
</html>
